# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
venv/
.venv/
env/

# macOS
.DS_Store

# IDEs
.vscode/
.idea/

# Logs
*.log

# Python packaging
build/
dist/
*.egg-info/

# Jupyter
.ipynb_checkpoints/
